@font-face {
    font-family: "Baloo";
    src: url(assets/fonts/Baloo-Regular.ttf);
}

:root {
    --color1: #FFAF45;
    --color2: #FB6D48;
    --color3: #979797;
    --color4: #D74B76;
    --color5: #673F69;
}

body {
    color: #fff;
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0;
    transition: opacity 0.25s ease-out;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.body-fade-in {
    opacity: 1;
}

#menu {
    padding: 30px 40px;
}

#back {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#back:active {
    filter: blur(1px);
}

#settings-title {
    margin-left: 40px;
    font-size: 2em;
    font-weight: bold;
}

#clock-styles-container {
    margin-top: 20px;
}

#fonts-title {
    font-size: 1.2em;
    margin-left: 40px;
}

#pack-icon-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    object-fit: cover;
    border: 2px solid #9797977f;
    border-radius: 12px;
    box-shadow: 0px 8px 25px #1b1b1bd3;box-shadow: 0px 8px 25px #1b1b1bd3;
    margin-bottom: 8px;
}

#pack-icon {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#current-theme {
    margin: 20px 40px;
    align-items: center;
}

#theme-name {
    margin-top: 16px;
}

#theme-description {
    font-size: 0.8em;
    font-weight: lighter; 
    opacity: 0.7;
}

#open-theme-folder-container {
    margin-left: 40px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

button:hover {
    background-color: #979797;
}

button:active {
    filter: blur(1px);
}